div {
    display: block;
}
.wrap{
    width: 100%;
    position: relative; /* 상대 위치 지정 */
}
.head_wrap {
    position: fixed; 
    top: 0;
    margin: auto, 0;
    width: 100%;
    z-index: 9999; /* 사진보다 위에 위치하도록 설정 */
    vertical-align: middle;
    padding: 0px, 20px;
    text-align: center;
}
.head_wrap.head{
    width: 100%;
    max-width: 1280px;
    margin: 0, auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
}
.head_login{
    position: absolute;
    right: 137px;
    top: 30px;
}
.head_sign{
    margin-right: 30px;
}
.head_menu{
    width: 100%;
    padding: 0, 300px;
}
.head_menu>ul{
    display: table;
    width: 100%;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.head_menu>ul>li{
    display: table-cell;
}
li{
    font-weight: 550;
}
